<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sites</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Like-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <section class="article-list" style="height: 678px;">
        <div class="container" style="height: 1400px;">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#">Company Name</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" href="#">Link 1</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link 2</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link 3</a></li>
                        </ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="intro">
                <h2 class="text-center">Latest Articles</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row articles" style="height: 300px;margin: 28px;">
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
            </div>
            <div class="row articles" style="height: 300px;margin: 28px;">
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
            </div>
            <div class="row articles" style="height: 300px;margin: 28px;">
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 item" style="width: 190px;"><a href="#"><img class="img-fluid" src="assets/img/building.jpg" style="width: 210.32799999999997px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description"></p><a class="action" href="#"></a><a class="btn btn-primary like-counter" role="button" href="#"><i class="fa fa-thumbs-up"></i>&nbsp;|&nbsp;</a>
                </div>
            </div>
            <nav style="padding: 0px;margin: 0px;margin-left: 304px;">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">99</a></li>
                </ul>
            </nav><p style="margin-top: 0px;">Made by @finlandcowboy</p>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Like-Button.js"></script>
</body>

</html>